<!doctype>

<html>

  <head>
     
  </head>

  <body>
  	<h1>Hello, this is main page! welcome back <b><%= Firstname %></b></h1>
  	<table style="border: 1px solid black;">
  		<tr>
  		  <td>First name :<%= Firstname %></b></td>
  		</tr>

  		<tr>
  		  <td>Last name :<%= Lastname %></b></td>
  		</tr>

  		<tr>
  		  <td>Email :<%= Email %></b></td>
  		</tr>

  		<tr>
  		  <td>Gender :<%= Gender %></b></td>
  		</tr>

  		<tr>
  		   <td>Birthday :<%= Birthday %></b></td>
  		</tr>

  	</table>
  </body>

</html>
